AndrewBot-Backend/.venv
AndrewBot-Backend/.env
AndrewBot-Backend/Old_Pickle_Files
AndrewBot-Backend/Old Pickle Files
AndrewBot-Backend/SQLite
AndrewBot-Backend/BB kaggle
AndrewBot-Backend/Pickle_Files
AndrewBot-Backend/GenerateProductEmbeddings_BKP
AndrewBot-Backend/OrderManagementAPI_BKP
AndrewBot-Backend/WebScraping_BKP
AndrewBot-Backend/Misc_BKP
AndrewBot-Backend/AndrewBotDB