/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.andrewbot-body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #daeffa; /* Optional: add a background color */
}

.andrewbot-container {
  position: relative;
  width: 700px;
  height: 500px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.cs-main-container {
  position:relative ;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
  border: solid 1px #d1dbe3;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  background-color: rgb(230, 242, 255);
  border-radius: 40px;
  font-size: 1rem;
}



.cs-conversation-header__content .cs-conversation-header__user-name {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  color: rgba(255, 255, 255, 255);
  background-color: transparent;
  text-align: left;
  padding-left: 240px;
}

.cs-conversation-header {
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  background-color: #081a58;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 1em;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-top: solid 0px #d1dbe3;
  border-right: solid 0px #d1dbe3;
  border-bottom: solid 1px #d1dbe3;
  border-left: solid 0px #d1dbe3;
  padding: .6em .9em;
}

.cs-chat-container .cs-message-input {
  border-top: solid 1px #d1dbe3;
  border-right: solid 0px #d1dbe3;
  border-bottom: solid 0px #d1dbe3;
  border-left: solid 0px #d1dbe3;
  margin-top: auto;
  padding: .3em 0 .3em 0em;
  color: rgba(0, 0, 0, .87);
  background-color: #fff;
  padding-left: 43px;
}

.cs-button-AndrewBot-options{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #0e0d0d;
  background-color: #6ea8d7;
  border: none;
  border-radius: .7em;
  margin: .1em .2em;
  padding: .2em .7em;
  outline: none;
  font-size: 1em;
  line-height: 1.5;
}

/*Hide the attachment icon in the MessageInput component
.cs-button--attachment {
  /* color: #6ea9d7;
  background-color: transparent; 
  display: none;
} */

.cs-message--incoming .cs-message__content {
  color: rgba(0, 0, 0, .87);
  background-color: #c6e3fa;
  border-radius: 0 .7em .7em 0;
  text-align: left;
  ;
}

.cs-message-input__content-editor {
  box-sizing: border-box;
  flex-grow: 1;
  background-color: #c6e3fa;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  outline: 0;
  border-top: 0 none;
  border-right: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  overflow: visible;
  color: rgba(0, 0, 0, .87);
  overflow-wrap: anywhere;
  word-break: break-word;
  text-align: left;
  max-height: 40px;
}

/*Added cs-message__content to change the font-family, but didn't change it yet. TBD.*/
.cs-message__content {
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  background-color: #c6e3fa;
  margin-top: 0;
  padding: .6em .9em;
  border-radius: .7em .7em .7em .7em;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: break-word;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: .91em;
  font-variant: normal;
}